<% render_aspace_partial :partial => "external_ids/template" %>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= I18n.t("external_id._plural") %></h3>
  <div class="panel-group details" id="<%= section_id %>_accordion">
  <% external_ids.each_with_index do |external_id, ix| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row accordion-toggle collapsed"
               data-toggle="collapse"
               data-parent="#<%= section_id %>_accordion"
               href="#<%= section_id %>_external_id_<%= ix %>">
            <div class="col-md-1">
              <span class="glyphicon"></span>
            </div>
            <div class="col-md-2">
              <%= external_id['source'] %>
            </div>
            <div class="col-md-9">
              <%= external_id['external_id'] %>
            </div>
          </div>
        </div>
        <div id="<%= section_id %>_external_id_<%= ix %>" class="panel-collapse collapse">
          <div class="subrecord-form-container">
            <% context.push("external_id", external_id) do |context| %>
              <% context.emit_template("external_id") %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
